body{
    background-color: rgb(174, 54, 211);
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color:rgb(174, 54, 211);
    display: flex;
    padding-left: 10%;
}
h1:hover{
    cursor: pointer;
    color: white;
    transition: 2s;
    transition-delay: 2ms;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}