input{
	padding: 10px;
	border-radius: 40px;
}
h1{
	margin: 30px;
	display: flex;
	position: relative;
	text-align: center;
}
div{
	background-color: white;
	border-radius: 20px;
	padding: 100px;
}
#send{
	text-align: center;
	padding: 10%;
	width: 200px;
	border-radius: 40px;
}
#send:hover{
	cursor: pointer;
	background-color: rgb(55, 137, 214);
	transition: 1s;
}
#user{
	display: flex;
	align-items: center;
	max-width: 30px;
}
body{
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    justify-content: center;
    font-size: 16px;
    font-weight: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 10%;
    background: rgb(55, 137, 214) url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}